<div id="viewCatalog" class="background-img">
    <a href="#/flight/add" class="add-flight">Add Flight +</a>
    <div class="added-flights">
        {{#each flights}}
            <a href="#/details/{{_id}}" class="added-flight">
                <img src='{{image}}'>
                <h3>{{destination}}</h3>
                <span>from {{origin}}</span><span>{{departure}}</span>
            </a>
        {{/each}}
    </div>
</div>